@font-face {
  font-family: salsa;
  src: url("../Fonts/Salsa/Salsa-Regular.ttf") format("truetype");
}
@font-face {
  font-family: barlow-medium;
  src: url("../Fonts/Barlow/BarlowCondensed-Medium.ttf") format("truetype");
}
@font-face{
  font-family: barlow-semiBold;
  src: url("../Fonts/Barlow/BarlowCondensed-SemiBold.ttf");
}
@font-face {
  font-family: barlow;
  src: url("../Fonts/Barlow/BarlowCondensed-Regular.ttf");
}
@font-face {
  font-family: calibri;
  src: url("../Fonts/Calibri/calibri.ttf")
}
@font-face{
  font-family: calibri-light;
  src: url("../Fonts/Calibri/calibril.ttf");
}
@font-face{
  font-family: cambria-bold;
  src: url("../Fonts/Cambria/cambriab.ttf");
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: url("../img/Blog/Girl-reading-book-black-lace-dress-mood_1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 768px;
}
#logo1 {
  width: 111px;
  height: 91px;
}
.flex-container,
ul {
  display: flex;
}
.flex-container {
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 30px;
}
.menu {
  margin-right: 30px;
  margin-left: 30px;
}
.menu li {
  list-style: none;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.flex-container a {
  text-decoration: none;
  color: white;
  font-family: salsa;
  font-size: 20px;
}
.menu a:hover {
  border-bottom: 3px solid #f6b100;
}
.icon1 li {
  list-style: none;
  font-size: 20px;
  color: white;
}
.banner{
  padding-left: 224px;
  margin-top: 154px;
}
.banner .time{
  color:white;
  font-family: salsa;
  font-size: 20px;
}
.banner p{
  color: white;
  font-family: Cambria;
  font-size: 15px;
}
.banner .title{
  color: #F6B100;
  font-family: cambria-bold;
  font-size: 46px;
}
.banner a{
  color: #A8A8A8;
  font-family: barlow;
  font-size: 15px;
  /* text-transform: uppercase; */
}
.banner a:hover{
  text-decoration: none;
  color: white;
}
.blog-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-left: 75px;
  padding-right: 75px;
}
.blog-topic .blog-item {
  /* width: 800px; */
  margin: 30px 0px 30px 0px;
  height: 400px;
  padding: 0;
  display: flex;
}
.blog-item > div {
  width: 592px;
  height: inherit;
  /* border: 1px solid black; */
}
.blog-pic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.blog-quote {
  text-align: center;
  background: white;
  padding: 100px 15px 0 15px;
  font-size: smaller;
}
.blog-quote h5 {
  color: #F6B613;
  font-family: barlow-medium;
  font-size: 24px;
}
.blog-quote h6 {
  font-family: barlow-medium;
  font-size: 24px;
}
.blog-quote p {
  font-family: calibri-light;
  font-size: 15px;
}
.blog-quote button {
  text-transform: uppercase;
  text-align: center;
  font-family: calibri;
  font-size: 14px;
  border-radius: 25px;
  background-color: #ECECEC;
  border-style: none;
  width: 186.25px;
  height: 54.67px;
}
.blog-quote button:hover {
  background: gray;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.blog-quote button:focus{
    outline: 0;
    box-shadow: none;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #f9f8f4;
  padding: 50px 0 50px 100px;
}

footer > div {
  overflow: hidden;
  /* height: 200px; */
  width: 25%;
  /* border: 1px solid black; */
  margin: 0 20px 0 20px;
  /* text-align: left; */
  /* padding: 30px */
  padding-left: 10px;
}
.footer-col h5 {
  border-left: 2px solid #F6B100;
  padding-left: 5px;
  margin-bottom: 20px;
  font-family: barlow-medium;
  font-size: 25px;
}
.footer-col p {
  font-size: 13px;
  font-family: calibri;
}
.footer-col span {
  /* font-weight: bold; */
  margin-right: 2px;
  font-size: 26px;
  font-family: calibri;
}
footer .detail{
  font-family: calibri;
  font-size: 15px;
  line-height: 15px;
}